.menu-item__title {
    font-weight: 900;
}

.menu-item__description {
    margin-left: 15px;
}

/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
    height: 450px;
}

/* Set gray background color and 100% height */
.sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
}

.items-table th tr { 
    width: 33%;   
    float: left;
}
.items-table td { 
    width:33%; 
    padding-right: 3%; 
    display: table-cell; 
}

.buttons{
    background-color: #f44336; 
    width: 100%; 
    height: 40px; 
    border: none; 
    cursor: pointer; 
    border-radius: 5px;
    -webkit-border-radius: 5px; 
    -moz-border-radius: 5px
}

.spans { 
    text-align: center; 
    padding: 0 20%; 
}

/* Set black background color, white text and some padding */
footer {
    background-color: #555;
    color: white;
    padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }

    .row.content {
        height: auto;
    }
}

.addColor {
    background-color: #4CAF50;
}

.checColor {
    background-color: #f44336;
}
